<h2>Products</h2>

<div *ngFor="let product of products">
  <h3>
    <a [title]="product.name +' detalles'"
    [routerLink]="['/products', product.id]">
      {{ product.name }}
    </a>
  </h3>
  <p *ngIf="product.description">
    Descripción: {{product.description}}
  </p>
    <p *ngIf="product.price">
    price: {{product.price}}
  </p>

  <button type="button" (click)="share()">
    Compartir
  </button>
  <app-product-alerts
  [product]="product"
  (notificacion)="onNotify()"> 
</app-product-alerts>
<!-- La entrada de un output de una clase hija, entra con un () -->
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
